<!-- <div class="row">
  <div class="col-xxxl-3 col-md-6">
    <ngx-status-card title="Light" type="primary">
      <i class="nb-lightbulb"></i>
    </ngx-status-card>
  </div>

  <div class="col-xxxl-3 col-md-6">
    <ngx-status-card title="Roller Shades" type="success">
      <i class="nb-roller-shades"></i>
    </ngx-status-card>
  </div>

  <div class="col-xxxl-3 col-md-6">
    <ngx-status-card title="Wireless Audio" type="info">
      <i class="nb-audio"></i>
    </ngx-status-card>
  </div>

  <div class="col-xxxl-3 col-md-6">
    <ngx-status-card title="Coffee Maker" type="warning">
      <i class="nb-coffee-maker"></i>
    </ngx-status-card>
  </div>
</div>

<div class="row">
  <div class="col-xxxl-3 col-xxl-4 col-lg-5 col-md-6">
    <ngx-temperature></ngx-temperature>
  </div>

  <div class="col-xxxl-9 col-xxl-8 col-lg-7 col-md-6">
    <ngx-electricity></ngx-electricity>
  </div>
</div>

<div class="row">
  <div class="col-xxxl-9 col-xl-12">
    <ngx-rooms></ngx-rooms>
  </div>

  <div class="col-xxxl-3 col-xxl-4 col-lg-7 col-md-6">
    <ngx-contacts></ngx-contacts>
  </div>

  <div class="col-xxxl-3 col-xxl-4 col-lg-5 col-md-6">
    <ngx-solar [chartValue]="72"></ngx-solar>

    <ngx-kitten></ngx-kitten>
  </div>

  <div class="col-xxxl-3 col-xxl-4 col-md-5">
    <ngx-traffic></ngx-traffic>
    <ngx-weather></ngx-weather>
  </div>

  <div class="col-xxxl-6 col-xxl-12 col-md-7">
    <ngx-security-cameras></ngx-security-cameras>
  </div>
</div> -->

<div class="row">
    <div class="col-md-12 col-lg-12 text-center">
        <nb-tabset fullWidth>
            <nb-tab tabTitle="Simulation Charts">
                <br>
                <div class="row h-100 justify-content-center align-items-center">
                    <div class="col-xxxl-5 col-md-5 col-lg-5 col-sm-5 text-center">
                            
                        <nb-card>
                            <nb-card-header>
                                <div class="row justify-content-center">
                                    <div class="col-xxxl-12 col-lg-12 col-md-12 col-sm-12">

                                        <select  style="text-transform: uppercase;" class="form-control" (change)="siteChanged($event.target.value)" [(ngModel)]="siteName">
                                            <option value="" disabled selected>Select a Site</option>
                                            <option style="text-transform: uppercase;" *ngFor="let n of names" value={{n}}>{{n}}</option>
                                        </select>
                                    </div>
                                </div>
                            </nb-card-header>
                        </nb-card>                        
                    </div>
                </div>
                <nb-tabset >
                    <nb-tab tabTitle="Multiple X-Axis Chart">
                        <br>
                            <h5 *ngIf="siteName == ''">NO SITE SELECTED YET</h5>
                        <div class="row">
                            <div class="col-md-12">
                                <ul class="arrange">
                                    <li *ngFor="let hub of hubs" class="col-xxxl-6 col-md-6">
                                        <mychart-xaxis [hub]="hub"></mychart-xaxis>
                                    </li>
                                </ul>     
                            </div>
                        </div>
                    </nb-tab>
                    <nb-tab tabTitle="Bar Chart">
                      <br>
                        <h5 *ngIf="siteName == ''">NO SITE SELECTED YET</h5>
                      <div class="row">
                          <div class="col-md-12">
                              <ul class="arrange">
                                    <li *ngFor="let hub of hubs" class="col-xxxl-6 col-md-6">
                                        <mychart-bar [hub]="hub"></mychart-bar>
                                    </li>
                              </ul>     
                          </div>
                      </div>
                    </nb-tab>
                    <nb-tab tabTitle="Horizontal Bar Chart">
                        <br>
                            <h5 *ngIf="siteName == ''">NO SITE SELECTED YET</h5>
                        <div class="row">
                            <div class="col-md-12">
                                <ul class="arrange">
                                    <li *ngFor="let hub of hubs" class="col-xxxl-6 col-md-6">
                                        <mychart-horizontal-bar [hub]="hub"></mychart-horizontal-bar>
                                    </li>
                                </ul>     
                            </div>
                        </div>
                      </nb-tab>
                      <nb-tab tabTitle="Line Chart">
                          <br>
                          <h5 *ngIf="siteName == ''">NO SITE SELECTED YET</h5>
                          <div class="row">
                              <div class="col-md-12">
                                  <ul class="arrange">
                                        <li *ngFor="let hub of hubs" class="col-xxxl-6 col-md-6">
                                            <mychart-line [hub]="hub"></mychart-line>
                                        </li>
                                  </ul>     
                              </div>
                          </div>
                        </nb-tab>
                        <nb-tab tabTitle="Chart to Table">
                            <br>
                            <h5 *ngIf="siteName == ''">NO SITE SELECTED YET</h5>
                            <div class="row">
                                <div class="col-md-12">
                                    <ul class="arrange">
                                        <li *ngFor="let hub of hubs" class="col-xxxl-6 col-md-6">
                                            <table-chart [hub]="hub" class="col-lg-12"></table-chart>
                                        </li>
                                    </ul>     
                                </div>
                            </div>
                        </nb-tab>
                </nb-tabset>

                
            </nb-tab>
            <nb-tab tabTitle="Simulation Table">
                <div class="col-md-12">
                    <ul class="sites">
                      <li class="col-lg-12">
                          <simulation-table class="col-lg-12"></simulation-table>
                      </li>
                    </ul>
                  </div>
            </nb-tab>
        </nb-tabset>
    </div>
</div>

  
  
